body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #fefefe;
  letter-spacing: 1px;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #237804;
}

a {
  color: #096dd9;
  text-decoration: none;
}

.HamburgerIcon-wrapper {
  display: none
}

.HamburgerIcon {
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.HamburgerIcon-2 {
  margin: 5px 0;
}

.Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.Menu-item {
  margin: 0 10px;
}

.Menu-item a:hover{
  color: #237804;
  -webkit-transition: .2s;
  transition: .2s;
}

.Menu-item.active a {
  color: #237804;
}

.Menu a {
  color: black;
  text-decoration: none;
}

.MainContent {
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 8fr;
}

.Card {
  grid-column: 1 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px 20px 0 0;
}

.profileImage {
  display: block;
  border: 10px solid #237804;
  border-radius: 50%;
  width: 387.7px;
  height: 387.7px;
}

.Informations {
  grid-column: 2 3;
  margin: 20px 0 0 20px;
}

.About-Header {
  font-size: 24px;
}

.LogoList, .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.LogoList {
  margin: 20px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-img {
  width: 150px;
  position: relative;
/*  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;*/
}

/*.logo:hover .logo-img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}*/

.ProjectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ProjectCard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 350px;
  border: 2px solid #237804;
  border-radius: 1px;
  margin: 0 30px;
  margin-bottom: 20px;
}

.ProjectCard-Img {
  width: 100%;
}

.ProjectCard-Description {
  padding: 0 15px;
}

.ProjectCard-Title {
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}
.ProjectCard-Title a {
  color: black;
  text-decoration: none;
/*  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;*/
}
/*.ProjectCard-Title:hover a {
  color: blue;
}*/

.ProjectCard:hover .ProjectCard-Title {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.ProjectCard:hover .ProjectCard-Title a {
  color: #096dd9;
}

.ContactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ContactForm-Label {
  margin-bottom: 10px;
}

.ContactForm-Input {
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .1s;
  transition: .1s;
  font-size: 18px;
  font-family: /*'Pacifico'*/'Raleway', sans-serif;
}

.ContactForm-Input:focus {
  outline: none;
  border-bottom: 3px solid #237804;
}

.ContactForm-Submit {
  width: 50%;
  background-color: #237804;
  border: 1px solid #237804;
  border-radius: 2px;
  color: #fefefe;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 5px;
  -ms-flex-item-align: center;
      align-self: center;
}

.MessageFeedback {
  text-align: center;
}

.Selected-Project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Selected-Project-Wrapper {
  margin-top: 20px;
}

.Selected-Project-Img {
  width: 100%;
}

.Selected-Project-Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -40px;
  width: 70%;
  background-color: #fefefe;
  z-index: 1;
}

.Selected-Project-Description {
  padding: 10px;
  text-align: justify;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
  z-index: 0
}

.fade-exit.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0ms ease-in;
  transition: opacity 0ms ease-in;
}

@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .Menu {
    display: none;
    margin: none;
  }

  .Menu-item {
    margin-right: 10%;
    text-align: right;
    font-size: 24px;
  }

  .Card {
    margin: 10px 0;
  }

  .HamburgerIcon-wrapper {
    display: block;
  }

  .Clicked ~ .Menu {
    display: block;
    width: 100%;
  }

  .Clicked .HamburgerIcon-1 {
    position: relative;
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }


  .Clicked .HamburgerIcon-2 {
    opacity: 0;
  }

  .Clicked .HamburgerIcon-3 {
    position: relative;
    bottom: 6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .Informations {
    margin: 0;
  }

  .About {
    padding: 0 30px;
  }

  .ProjectCard {
    width: 100%;
    margin: 10px;
  }

  .Card-Item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 10px 30px;
  }

  .MainContent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .profileImage {
    width: 150px;
    height: 150px;
  }

  .ContactForm {
    margin: 10px 20px;
  }

  .ContactForm-Input {
    height: 50px;
  }
}
